{% extends "base.html" %}

{% block conteudo %}

  <style>
  body{    
      background-image: url(../static/images/fundo.png);
    }
  </style>
  <div class="capa">
    <img src="../static/images/capa.png" alt="capa">
  </div>
    <p>

    </p>
  <div>
    <h2>Sobre a universidade</h2>
    <p>

    </p>
    <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. Ad asperiores atque blanditiis eius, laudantium
      mollitia, natus nisi porro quia rerum sint, suscipit temporibus unde? A animi consequuntur cum debitis deserunt
      illo illum, inventore itaque nobis odit officia omnis optio quae quisquam repudiandae velit veniam
      voluptatibus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis debitis laudantium nam voluptate.
      Accusamus aut consequuntur debitis delectus deleniti doloribus eum eveniet facere libero minus mollitia
      necessitatibus nulla, pariatur quas repellat reprehenderit sint ullam velit. Adipisci iste laudantium libero
      obcaecati quam repellendus, sequi. Eum!</p>
    <p>

    </p>
    <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. Ad asperiores atque blanditiis eius, laudantium
      mollitia, natus nisi porro quia rerum sint, suscipit temporibus unde? A animi consequuntur cum debitis deserunt
      illo illum, inventore itaque nobis odit officia omnis optio quae quisquam repudiandae velit veniam
      voluptatibus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis debitis laudantium nam voluptate.
      Accusamus aut consequuntur debitis delectus deleniti doloribus eum eveniet facere libero minus mollitia
      necessitatibus nulla, pariatur quas repellat reprehenderit sint ullam velit. Adipisci iste laudantium libero
      obcaecati quam repellendus, sequi. Eum!</p>
  </div>

{% endblock %}