{% extends "base.html" %}

{% block conteudo %}
  <style>
    body{
      background-image: url(/static/images/fundo2.png);
    }
  </style>
  <div>
    <h2>Quem somos</h2>
    <p>

    </p>
    <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. A cum cumque, dolorem doloremque laborum nemo neque
      officia possimus quos repellat repellendus sit suscipit vero! Beatae, consequuntur dicta dolor dolorem enim
      laboriosam modi nulla odit quia, quidem quos reiciendis veniam voluptate! Animi deleniti laboriosam maxime odit
      quibusdam quis saepe tempore. Amet architecto atque beatae deleniti dolorem dolores ea eligendi exercitationem
      harum iure magni modi molestiae neque nisi optio perspiciatis possimus quae quisquam suscipit, tempore veritatis
      vitae voluptate voluptatem voluptatum!</p>

    <p>

    </p>
    <h2>5 motivos para estudar</h2>
    <p>

    </p>
    <ol>
      <li>Material sempre atualizado</li>
      <li>Tablets em sala de aula</li>
      <li>Professores renomados</li>
      <li>Universidade bem avaliada</li>
      <li>Ótima localização</li>
    </ol>
    <p>

    </p>
    <hr>
  </div>

  <div>
    <h2>Objetivos</h2>
    <p>

    </p>
    <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. Beatae dolorum itaque minima nihil quaerat. Aliquam at
      aut ea impedit iusto laboriosam maxime nisi nobis officiis, omnis pariatur placeat, quia quibusdam? Ab animi dicta
      et, incidunt molestiae pariatur quae saepe tempora! Accusantium, at, beatae cum cumque debitis distinctio
      doloribus eveniet itaque iure nam non numquam odio officia quae, quas qui quia quo repellendus unde voluptate? At
      autem deserunt distinctio velit voluptatum. At blanditiis consequatur cum explicabo?</p>
  </div>

  {% endblock %}